/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #33383c;
  position: fixed;
  top: 0; 
  width: 100%; 
}
.navbar a {
  float: right;
  display: block;
  color: #f8f8f8;
  text-align: center;
  padding: 1% 2%;
 
}
.navbar b{
  float: left;
  display: block;
  color: #f8f8f8;
  text-align: center;
  padding: 1% 3%;
}
.navbar a:hover {
  background: #78786e;
  color: black;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.parallax {
background-image:  url("picture/BG1.png"); 
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading{
  text-align: center;
  font-family: 'Poppins', sans-serif; 
  font-size: 35px;
}

